<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First Vue</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="counter">
      <div>
        <p>Counter: {{ counter }}</p>
        <button v-on:click="onClick">ボタン</button>
      </div>
      <br />
      <br />
      <div>
        <button v-on:click="onClick2">表示非表示ボタン</button>
        <p v-if="seen">ヤッホー</p>
      </div>
      <br />
      <br />
      <div>
        <button v-on:click="onClick3">ボタン</button>
        <p v-if="seen">ヤッホー</p>
      </div>
    </div>

    <script>
      const counter = {
        data() {
          return {
            counter: 0,
            seen: true,
          };
        },
        methods: {
          onClick() {
            this.counter++;
            console.log(this.counter);
          },
          onClick2() {
            this.seen = !this.seen;
          },
        },
      };

      Vue.createApp(counter).mount("#counter");
    </script>
  </body>
</html>
